*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/kiwilibrary/build/
.idea/
kiwilibrary/libs/
kiwilibrary/src/androidTest/
kiwilibrary/src/test/
libs/
src/main/res/drawable/
